* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #121212;
  user-select: none;
}

/* Front Text */
.inProgress {
  position: absolute;
  cursor: pointer;
  color: rgb(221, 219, 219);
  font-size: 2rem;
  top: 50%;
  left: 50%;
  text-shadow: 0 0 0.6em rgba(255, 255, 255, 0.274);
  transform: translate(-50%, -50%);
}

.inProgress::after {
  content: "";
  position: relative;
  top: 0.7vh;
  display: block;
  width: 0%;
  height: 5px;
  transition: all 0.7s ease-out;
  border-radius: 40px;
  background-color: rgba(112, 14, 192, 0.418);
}
.inProgress:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 40px;
  background-color: rgba(248, 8, 248, 0.952);
}

/* Nav-Bar */
#main {
  color: rgba(255, 255, 255, 0.158);
  top: 1%;
}

#arata a {
  color: rgba(255, 255, 255, 0.158);
}

li,
a {
  position: relative;
  text-decoration: none;
}

.nav_links {
  list-style: none;
  font-size: 1rem;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

#main {
  position: absolute;
}

#arata a {
  color: rgba(248, 8, 248, 0.952);
}

#arata {
  position: absolute;
  left: 2.6%;
  top: 0.9vh;
  transform: translate(-2.3%);
}

a {
  transition: 0.5s;
}

#main:hover a {
  color: rgba(165, 7, 165, 0.952);
}

/* cute Pic + Text */
#cute {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  cursor: pointer;
}

#cuteText {
  position: absolute;
  color: rgba(255, 255, 255, 0.438);
  top: 63%;
  left: 50%;
  font-size: 0.6rem;
  transform: translate(-50%, -50%);
}

/* Phone Front Text |  Fixed for Phone :D */
@media screen and (max-width: 526px) {
  .inProgress {
    font-size: 1.1rem;
  }
  #cuteText {
    top: 63.6%;
  }
}

/* Removing Button's From Page*/
.fixed-nav {
  display: none;
}

/* Removing Default Design */
.ara-btn,
.main-btn {
  outline: none;
  border: none;
  background: none;
  font-size: 2.2vh;
  cursor: pointer;
}

/* Position everything */
.ara-btn {
  position: absolute;
  top: 4%;
  left: 33%;
}
.main-btn {
  position: absolute;
  top: 4%;
  left: 5%;
}

/* Adding Design */
.main-btn {
  width: 70px;
  height: 30px;
  color: rgba(202, 200, 200, 0.884);
  background: rgba(248, 8, 248, 0.623);

  border-radius: 3px;
}

.ara-btn {
  width: 70px;
  height: 30px;
  color: rgba(128, 128, 128, 0.479);
  background: #313131a8;
  border-radius: 3px;
}

/* Adding Button's back To Page */
@media screen and (max-width: 526px) {
  .fixed-nav {
    display: block;
  }
}

/* Removed Nav-bar, cuz i only want the nav-bar 
for full size. 
But i will make it responsive
*/
@media screen and (max-width: 1746px) {
  .nav_links {
    display: none;
  }
}
